footer {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   padding: 1rem;
   margin-top: 127px;
}

footer img {
   max-width: 60px;
}

.contact {
   margin-top: -100px;
   margin-left: -10px;
   font-weight: bold;
   font-size: 20px;
}

@media screen and (max-width: 1500px) {
   footer {
      position: relative;
   }
}
