@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

html {
   background-image: linear-gradient(to bottom, transparent -50%, #290342da 90%), url('../../assets/img/Wallpaper.png');
   background-size: 1920px 1080px;
   background-repeat:round;
}

body {
   color: #ffffff;
}

a {
   color: #fff;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

main {
   margin: 1rem;
}

main::after {
   top: auto;
   left: auto;
   bottom: 0;
   right: 0;
   transform: rotate(180deg);
}

@media only screen and (min-width: 768px) {

   main {
      max-width: 1920px;
   }

   main::before,
   main::after {
      width: 70vw;
   }

}

@media screen and (max-width: 1366px) {
   main {
      max-width: 1366px;
      margin: 10px;
   }

   html {
      margin: auto;
      background-size: 1920px 1080px;
   }

   
}



